{% extends "base.html" %}
{% block title %}Pag4{% endblock %}
{% block first_title %}Pag4{% endblock %}
{% block main_title%}Pag4{% endblock %}
{% block sub_title %}Pag4{% endblock %}
{% block content %}
    {% with messages = get_flashed_messages() %}
            {% if messages%}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
            {% endif%}
    {% endwith %}

<head>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/pag4.css')}}">
</head>
<body>
    <h1>Pag4</h1>

</body>
  
<script src="{{ url_for('static', filename='js/pag4.js') }}"></script>
{% endblock %}

